
/* PAGE */

body {
    min-width: 1400px;
}

.pageHeader {
    text-align:center;
    margin-top: 50px;
}

/* FORM SIDEBAR */
.formsSideBar {
    width: 350px;
    float:left;
    margin-left: 2%;
}

.formHeader {
    margin-left: 8px;
    margin-bottom: 0px;
}

label {
    margin-top: 10px;
}

.submitButton {
    width: 100px;
    border-radius: 4px;
    height: 30px;
    font-size: 17px;
    margin-top: 16px;
    background-color: skyblue;
    box-shadow: 4px 4px gray;
    margin-left: 190px;
}

input {
    font-size: 16px;
    padding: 4px;
}

.addRemoveBtns {
    width: 50%;
    height: 32px;
    font-size: 16px;
    background-color: skyblue;
}


/* BASIC FORM */
#basicInfoForm {
    display:grid;
    border:2px solid black;
    padding: 20px;
    padding-top: 10px;
    font-size:20px;
}



/* ED FORM */
#educationForm {
    display:grid;
    border: 2px solid black;
    padding: 20px;
    padding-top: 10px;
    font-size:20px;
}


/* EXP FORM */
#experienceForm {
    display:grid;
    border: 2px solid black;
    padding: 20px;
    padding-top: 10px;
    font-size:20px;
}


/* MAIN DOCUMENT */
.cvDocument {
    width: 860px;
    float: right;
    margin-top: 80px;
    border: 2px solid black;
    padding: 20px;
    margin-right: 20px;
}

/* DOCUMENT BASIC */

.basicHeader {
    display:grid;
    grid-template: 100px 100px / 70% 30%;
}

.fullName {
    font-size: 40px;
    margin-bottom: 0px;
    grid-area: 1 / 1;
}

.title {
    font-size: 32px;
    margin-top: 0px;
    grid-area: 2 / 1
}

.contactInfoDoc {
    grid-area: 1 / 2 / 3 / 3;
    margin-top: 45px;
    margin-right: 20px; 
}

.contactInfoDoc p {
    margin: 4px;
}

.aboutMeHeader {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.descriptionDoc {
    word-wrap: break-word;
    width: 95%;
    margin: auto;
}

/* DOCUMENT EDUCATION */

.educationHeader {
    margin-bottom: 0px;
}

.educationInfoDoc {
    margin-left: 60px;
    font-size: 24px;
}

.schoolAndDates {
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin-right: 60px;
}

.studyDoc {
    margin: 20px;
}

/* DOCUMENT EXPERIENCE */

